{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3">
      <h1>Health Facilities in {{user.profile.hood}}</h1>

    </div>
  </div>

  <div class="row">


    {% for hosy in Medicalservices %}
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title" data-toggle="modal" data-target="#{{hosy.id}}">{{hosy.name}}</h3>
        </div>
      </div>
    </div>


    <div class="modal fade" id="{{hosy.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
          <div class="modal-header text-center">
            <h3 class="text-center">{{hosy.name}}</h3>
          </div>
          <div class="modal-body">
            <img class="card-img-top" src="{{health.logo.url}}" height=200 width=100>

            <h4 class="text-center">Contacts</h4>
            <p><span>Phone Number:</span> {{hosy.contact}}</p>
            <p><span>Address:</span> {{hosy.address}}</p>
            <p><span>Email:</span> {{hosy.email}}</p>
          </div>
          <div class="modal-footer" style="display:block;">
            {% for Medicalservice in hosy.Medicalservices.all %}
            <button class="btn btn-warning">{{ Medicalservice }}</button>
            {% endfor%}

          </div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}
