
{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block content %}


<div class="container">
    <div class="text-center">
        <div class="user-image mt-5">
            <img src="{{user.profile.picture.url}}" alt="" height="250" width="250" style="border-radius: 50%;">
        </div>
        <hr>
        <p class="mt-2">Name: <strong>{{user.profile.name}}</strong></p>
        <p class="card-text">Email Address: <strong>{{user.profile.email}}</strong></p>
        <p class="card-text">About Me: <strong> {{user.profile.bio }}</strong></p>
        <p style="color: brown;">My hood:  {{user.profile.hood}}</p>
    </div>
    <div>
      <button class="btn-btn-success" style="text-align: center; left: 80%;"><a href="{% url 'update'%}">Edit Profile</a></button>
    </div>

</div>
{% endblock %}

