{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="text-center mt-5 mb-2">
        <a href="{% url '' %}">
            <button class="btn btn-lg btn-warning">Post A Notification</button>
        </a>
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Notification</th>
                <th scope="col">Priority</th>
                <th scope="col">Posted by</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for update in updates %}
            <tr data-toggle="modal" data-target="#{{notification.id}}">
                <td>{{update.title}}</td>
                <td>{{update.notification|safe|truncatechars:85}}</td>
              
                <td>{{update.editor}}</td>
                <td>{{update.created_date|date:"M d, Y"}}</td>
            </tr>
          
            <div class="modal fade" id="{{update.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content text-center">
                        <div class="modal-header text-center">
                            <h3 class="text-center">{{update.title}}</h3>
                        </div>
                        <div class="modal-body">
                            <p class="pmodal">{{update.notification|safe}}</p>
                        </div>
                        <div class="modal-footer" style="display:block;">
                            
                            <p><span style="font-weight:bold;">Posted on:</span>
                                {{update.created_date|date:"M d, Y"}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
